.entry .body{
    margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
    .item-title {
        margin-top: 10px !important;
    }
}

.experience-ul {
  list-style-position: outside;
  padding-left: 20px;
}

.experience-subtitle-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.experience-subtitle {
  display: inline-block;
}

.experience-inline-child {
  display: inline-block;
}

.experience-item {
  margin-bottom: 10px;
}
